@model dynamic
@{
    ViewBag.Title = "Account automatically created";
    Layout = "Layout";
}

<h2>Your @Model.AppName account is ready!</h2>

<p>Hello,</p>
<p>
    You have been automatically registered in <strong>@Model.AppName</strong>.
    Below you'll find your temporary password:
</p>

<div class="otp-code">@Model.Password</div>

<p>
    We recommend signing in and changing it as soon as possible.
</p>

<div style="text-align:center">
    <a href="@Model.LoginUrl" class="button">Sign in</a>
</div>

<div class="info-box">
    <p>This password is valid until you manually change it from your profile.</p>
</div>

<div class="signature">
    <p>Best regards,<br />The @Model.AppName Team</p>
</div>